<!-- this page will list all the comics available -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include("./partials/header.ejs")%>  
</head>
<body>
    <p>This page is for : <%= locals.text || "none"  %></p> 
    <p>Comic : </p>
    <h2><%= locals.comic.title || "none" %></h2>
    <p>List this comics chapters should be here</p>
    <h3>All chapters List</h3>
    <form action="/comics/<%= locals.comic._id %>/chapter" method="GET">
        <label for="chapterid">Choose a comic chapter:</label>
        <select name="chapterid" id="chapterid" required>
          <% if (locals.comic) for(let i=0; i< locals.comic.chapters.length; i++){ %>
  
          <option value="<%= locals.comic["chapters"][i]["_id"] %>"><%= locals.comic["chapters"][i]["chapterTitle"] %></option>
          
          <%}%>
        </select>
        <input type="submit" value="Read chapter">
        <p><%=locals.errorMsg || "Choose a chapter and click 'read chapter' to start reading"%></p>
    </form>

    <div class="pages-container">
        <ul class="no-bullets">
            <% if (locals.chapterid) for (let i=0; i< locals.comic.chapters.length; i++) { %>
    
                <% if (locals.comic.chapters[i]._id == locals.chapterid) for (let j=0; j< locals.comic.chapters[i].pageImg.length; j++){ %>
                    <li>
                      <!-- <p><%= locals.comic.chapters[i].pageImg[j] %></p> -->
                      <img src="<%=locals.comic.chapters[i].pageImg[j]%>" width="200px" height="120px" alt="chapter page <%= j+1 %>"> 
                    </li>
                <% } 
    
             } %>
            
        </ul>
    </div>
    

    
    
    
</body>
</html>

<!-- <ol>
    <% if (locals.chapterid) { %>  
        <li>
            <p>Page 1:</p>
            <img src="<%=locals.comic.chapters[5].pageImg[0]%>" width="200px" height="120px" alt="chapter page 1"> 
        </li>    
        
    <% } %>
</ol>

<ol>
    <% for (let i=0; i < locals.comic.chapters[5].length; i++) { %>
        <li>
            <p>Page <%= i %>:</p>
        </li>
    <% } %>
</ol> -->