<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>User page of: <%= locals.loggedInUser || "none"  %></p> 
    <p>This is where we can create or update comics/series</p>
    <p>We should add a form here for that</p>
    <br/>
    <h2>Create comic</h2>
    <form action="/comics" method="POST" enctype="multipart/form-data">
      <label for="title">Title:</label><br>
      <input type="text" id="title" name="title" value="One Piece" required><br>

      <p>Upload image for comic here</p>
      <input type="file" accept="image/*" id="comicImg" name="comicImg" required><br>

      <label for="synopsis">Synopsis:</label><br>
      <textarea id="synopsis" name="synopsis" rows="4" cols="50" required>blablabla</textarea><br>
      
      <input type="submit" value="Submit">
    </form>
    <br/>
    <p>A list of created comics will be rendered here, click them to update</p>
    <h1>Comics List</h1>
    <ul>
        <% if (locals.userComics) for(let i=0; i< locals.userComics.length; i++){ %>
        <li>
          <a href="/"><%= locals.userComics[i]["title"] %></a>
          <img src="<%=locals.userComics[i]["mainImg"]%>" width="200px" height="120px" alt="comic main image">
          <a href="/comics/<%=locals.userComics[i]["_id"] %>/edit"><button>EDIT</button></a>
          <form
            style="display: inline"
            action="/comics/<%=locals.userComics[i]["_id"] %>?_method=DELETE"
            method="POST"
          >
            <input type="submit" value="DELETE" />
          </form>
        </li>
        <br />
        <%}%>
    </ul>
</body>
</html>